# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.firebaserc
database.rules.json
firebase-debug.log
firebase.json
flaxxchess-firebase-adminsdk-rn0st-909bf8f7d1.json
public/
